/*
 * Author: Luis Camacho Jr.
 * Full Sail University
 * Course: ASD
 * Term: 1308
 * Project Week 1
 */

.ui-header h2.ui-title {
            font-size: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 300px;
    
}
/*#viewProjects .ui-header h2.ui-title {
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 300px;

}*/
/*.ui-mobile  {
    text-align: center;
    background: url("../img/backgroundMIUProject4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/
/*header {
    display: block;
    text-decoration: none;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    border: 5px double;
    color: #fff;
    background-color: #034001;
    text-align: center;
    font-family: syncopate, serif;
    font-size: 14px;
    margin: 5px 5px 9px 5px;
    padding: 10px 0;
    position: relative;
    border-radius: 15px;
}*/
#pageOne img {
    width: 40%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto

}
div.ui-content  {
                font-size: 12px;
    text-align: center;
}
#pageOne {
    text-align: center;
    background: url("../img/backgroundMIUProject4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pageOne .ui-listview {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 240px;

}
/*#addProject   {
    text-align: center;
    background: url("../img/backgroundMIUProject4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/


#addProject .ui-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 300px;

}
#text-basic {
color: #000000 ;
}
label.error {
    color: red;
}
/*#viewProjects {
	text-align: center;
	background: url("../img/backgroundMIUProject4.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 10px;
}*/
/*#viewIdeas {
    text-align: center;
    background: url("../img/backgroundMIUProject4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#viewCompleted {
    text-align: center;
    background: url("../img/backgroundMIUProject4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#viewProjects {
    text-align: center;
    background: url("../img/backgroundMIUProject4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/
ul#clearList li {
    list-style: none;
    padding:14px;

}
/*#clearList {
    width: 200%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 240px;

}
/*nav {
    text-align: center;
    color: #034001;
    font-family: syncopate, serif;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
}*/
#editItemSeparator {

    background-color: #F3C824;
    height: 5px;
    width: 70%;

}
#dynamic {
    width: 75%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 100%;

}
#addProject img {
                width: 70%;
                max-width: 250px;
                display: block;
                margin-top: 10%;
                margin-left: auto;
                margin-right: auto;
}
#storage .ui-btn-inner {
    display: hidden;
}
header h2 {
    font-family: "chalkduster", cursive;

}
header h1 {
    font-family: "chalkduster", cursive;
}

