{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdi"
    },
    "cloudant": {
      "db": "https://tartseattedessedgeortems:VFYCU82INf3Yoh3jb1W7g0u4@lcamachojr.cloudant.com/asd1310"
    }
  }
}
